/* montserrat-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/montserrat-v26-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-100italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/montserrat-v26-cyrillic_latin-100italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserrat-v26-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/montserrat-v26-cyrillic_latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/montserrat-v26-cyrillic_latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-cyrillic_latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-cyrillic_latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-cyrillic_latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-cyrillic_latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-cyrillic_latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v26-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/montserrat-v26-cyrillic_latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-alternates-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-alternates-v17-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-alternates-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-alternates-v17-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #333333
}
.wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header{
  background-color: #70232F;
  border-radius: 15px;
  padding: 12px 40px 12px 40px;
  height: fit-content;
}
.logo{
  display: flex;
  max-width: 304px;
  width: 304px;
  justify-content: space-between;
  align-items: center;
  img{
    width: 76px;
    height: 76px;
  }
}
.title{
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 32px;
}

.main{
  margin-top: 30px;
  background-color: #EFEFEF;
  border-radius: 15px;
  padding: 40px 40px 20px 40px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  a{
    text-decoration: none;
    color: #333333;
  }
}
.nav-left{
  display: flex;
  max-width: 547px;
  width: 547px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  a{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
  }
  a:hover{
    background-color: #FFFFFF;
  }
  
}
.nav-left-search{
  margin-right: 10px;
  display: flex;
    position: relative;
    text-align: right;
    justify-content: flex-end;
  input{
    width: 241px;
    height: 40px;
    padding-left: 20px;
    border: #FFFFFF;
    border-radius: 5px;
    background: #FFFFFF;
  }
  button {
    position: absolute;
    margin-left: auto;
    
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #FFFFFF; 
    border-radius: 5px 5px 5px 5px;
  }
  button:before {
    content: url("/img/search.svg");
  }
}
.nav-left-item{
  /* padding: 10px 20px 10px 20px; */
  /* background-color: #D86B79; */
}
.nav-left-item::after{
  background-color: #ffffff;
}
.button-style{
  display: flex;
  justify-content: space-around;
  width: 141px;
  height: 40px;
  background-color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
}
.button-style-back{
  display: flex;
  justify-content: space-around;
  width: 121px;
  height: 40px;
  background-color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.item-content{
  height: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.content{
  display: flex;
  width: 1400px;
  justify-content: space-between;
}
.sports{
  width: 1030px;
}
.content-title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.item{
  top: 2px;
  padding: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border-top: solid;
  border-top-color: #70232F;
}
.item-in{
  display: flex;
  width: 990px;
  height: 200px;
  justify-content: space-between;
  img{
    margin-left: 14.235px;
    margin-right: 14.235px;
    margin-top: 11.94px;
    margin-bottom: 11.94px;
  }
}
.sign-up-in{
  display: flex;
  height: 200px;
  justify-content: space-between;
  width: 1360px;
}
.img-side-info{
  width: fit-content;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-side-info-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1140px;
}
.sign-up-button{
  display: flex;
  justify-content: flex-end;
}
.sign-up{
  .more-details{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  width: 125px;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  justify-content: center;
  color: #FFFFFF;
  background-color: #70232F;
}
}
.item-title{
  display: flex;
  justify-content: space-between;
  height: 40px;
  a{
    text-decoration: none;
    color:#333333;
  }
}
.item-title-text{
  font-weight: 600;
}
.item-title-buttons{
  display: flex;
  button{
    margin-left: 20px;
  }
}
.item-free{
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border-style: none;
  justify-content: center;
  color: #FFFFFF;
  background-color: #D86B79;
}
.item-first-free{
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;

  height: 25px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid;
  border-radius: 5px;
  border-color: #D86B79;
  justify-content: center;
  color: #2F050F;
  background-color: #ffffff;
}
.item-info{
  display: flex;
  height: 145px;
  justify-content: space-between;
  align-items: flex-end;
}
.item-description{
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 645px;
}
.item-description-1{
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
}
.hashtag{
  font-size: 14px;
  font-weight: 400;
  color:#D86B79;
}
.item-line{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
  img{
    margin: 0;
    margin-right: 7px;
  }
}
.item-line-1{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  img{
    margin: 0;
    margin-right: 7px;
  }
}
.time{
  text-align: center;
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  font-weight: 400;
  width: 137px;
  height: fit-content;
  background-color: #F7DAAB;
  border-radius: 5px;
  margin-right: 7px;
}
.more-details{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  width: 125px;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  justify-content: center;
  color: #FFFFFF;
  background-color: #70232F;
}

.timetable-in{
  display: flex;
}
.timetable-title{
  font-size: 18px;
  font-weight: 600;
  color: #70232F;
}
.timetable-subtitle{
  font-size: 16px;
  font-weight: 500;
}
.group-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 392px;
  height: 142px;
}
.group-line{
  display: flex;
  align-items: center;
  img{
    margin-right: 7.335px;
    margin-left: 3.335px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.timetable-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
}
.timetable-line{
  display: flex;
  img{
    margin: 0;
    padding: 1.5px;
    margin-right: 10px;
  }
  div{
    margin-right: 10px;
  }
}
.description-wrap{
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description-text{
  width: 1142px;
}
.programme-in{
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.levels{
  height: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.level-basic{
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: "•";
    list-style-position: outside;
    margin-left: 12px;
    padding-left: 12px;
  }
}
.level-title{
  font-size: 16px;
  font-weight: 600;
  color: #70232F;
}

.filters{
  width: 330px;
}
.filter-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1105px;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  border-top: solid;
  border-top-color: #70232F;
  article{
    padding-top: 5px;
  }
  li{
    list-style-type: "•";
    list-style-position: outside;
    margin-top: 6px;
    margin-left: 5px;
    padding-left: 10px;
  }
}
.summary-title{
  display: flex;
  div{
    padding-right: 5px;
  }
}
.filter-title{
  font-weight: 600;
}
.filter-age{
  width: 290px;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-bottom: solid;
  border-bottom-color: #70232F;
  border-radius: 5px;
  border-bottom-width: 1px;
  font-size: 14px;
  font-weight: 400;
}
.filter-sex{
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkboxes{
  display: flex;
  width: 195px;
  height: 17px;
  justify-content: space-between;
  align-items: center;
}
.filter-catalog{
  width: 290px;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  border-bottom-width: 1px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url("/img/sign.svg") no-repeat;
  background-size:contain;
  color: #333333;
}
details[open] > summary::after {
  transform: rotate(180deg);
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  border-radius: 5px;
}
details[open] summary {border-radius: 5px 5px 0 0;}
details {
  border-radius: 5px;
}